/* the side thingy */
aside {
    background: radial-gradient(
    circle at center top, 
    #c1c7d0 0%,  
    #c1c7d0 15%,        
    #91b0ad 15%,            
    #91b0ad 100%
  );
  background-size: 100% 400%; 
  background-repeat: no-repeat;
    height: 100vh;
    width: auto;
    padding-top: 5em;
}
aside ul {
    list-style: none;
    margin: 0;
    padding-left: 18px;


}

aside li {
    position: relative;
    padding-left: 14px;
    /* margin: 3px 0; */
    padding-right: 18px;
}

aside li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-left: 3px double black;
    
}

aside li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0.9em;
    width: 12px;
    border-top: 1px solid black;
}

h2 {
    padding-left: 18px;
}

